name: API Tests with Postman

on: [push]

jobs:
  test-api:
    runs-on: ubuntu-latest

    steps:
      # Passo 1: Pega o c贸digo do reposit贸rio
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      # Passo 2: Instala o Node.js
      - name: Instalar o Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      # Passo 3: Instala o Newman
      - name: Instalar o Newman
        run: npm install -g newman

      # Passo 4: Verificar arquivos na raiz do reposit贸rio
      - name: Verificar arquivos na raiz
        run: ls -alh

      # Passo 5: Executa os testes da Collection do Postman
      - name: Executar os testes da Collection do Postman
        run: |
          newman run "collection.json" \
            -e "environment.json" \
            -g "globals.json" \
            --reporters cli
